html, body {
    font-family: 'Robot', sans-serif;
    height: 100%;
}

#app {
    height: 100%;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;

    .body-container {
        flex: 2 1 auto;
    }
}
